@media(min-width: 0px) and (max-width:500px) {
    .nosotros {
        visibility: collapse;
    }
}

body {
    font-family: 'Fredoka', sans-serif;
}

.social {
    width: 10%;
}

.socialmedia {
    background-color: darkgray;
}